 /* Responsive adjustments */
 @media (max-height:1440px) and (max-width:2560px) {
     nav {
         height: 80px;
     }

     /*Container for navigation content*/
     .nav-container {
         max-width: 100%;
     }

     /* Logo styles*/
     .logo-img {
         height: 75px;
         padding-left: 20px;
         width: auto;
     }

     /*Navigation links styles*/
     .nav-links {
        padding-left: 40px;
        padding-top: 15px;
        width: 1900px;
     }

     .nav-links li,
     .popup-button {
         margin-left: 60px;
     }

     .nav-links a {
         font-size: 2.8rem;
     }

     /* Hover effect for navigation links*/
     .nav-links a:hover {
         border-radius: 10px;
     }

     .popup-menu {
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     }

     /* popup menu style  */
     .popup-menu a {
         padding: 14px 18px;
     }

     .form-group {
         margin-bottom: 18px;
     }

     .form-section form p {
         margin-left: 12px;
     }

     /* other form conteent hidden */
     .content {
         display: none;
     }

     /* Section styles*/
     section {
         padding: 0px 0px 30px;
         /* Adjusted padding to account for fixed navbar */
     }

     /* Box styles for each section*/
     .box {
         border-radius: 12px;
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
         margin-bottom: 30px;
     }

     .box:hover {
         transform: translateY(-10px);
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     }

     /*Section title styles*/
     .section-title {
         margin-top: 10px;
         margin-bottom: 10px;
         font-size: 3.7em;
         text-shadow: 12px 6px 6px rgba(21, 6, 29, 0.3);
     }

     /* Notice bar in home page */
     .notice-bar {
         font-size: 2.5rem;
         padding-bottom: 10px;
     }

     /* home page slider */
     .slide {
         height: 1110px;
     }

     .slide img {
         width: 100%;
         height: 1100px;
     }

     .form-section {
         margin-top: 30px;
     }

     .hidden {
         display: none;
     }

     h2 {
         font-size: 2.6rem;
         padding: 10px;
         margin-left: 45px;
         margin-bottom: 25px;
         border-bottom: 3px solid #007BFF;

     }

     .input-data {
         margin-left: 40px;
         margin-right: 40px;
         margin-bottom: 20px;
     }

     /* Paragraph and list styles*/
     p,
     ul {
         margin-bottom: 20px;
     }

     p {
         font-size: 2.3rem;
     }

     h1 {
         font-size: 2.5rem;
     }

     ul {
         list-style-type: none;
         padding-left: 0;
     }

     label {
         font-size: 2.5rem;
         margin-bottom: 20px;
     }

     input,
     select {
         margin-bottom: 20px;
         border: 3px solid #ddd;
         border-radius: 7px;
         font-size: 2.5rem;
         transition: border-color 0.3s;
     }

     .note p {
         font-size: 2.5rem;
     }

     .submit {
         font-size: 35px;
         margin-left: 1190.4px;
         padding: 5px;
         width: 180px;
         height: 65px;
         border-radius: 6px;
     }

     .receipt-label {
         font-size: 2.5rem;
         margin-left: 40px;
         margin-top: 40px;
         margin-bottom: 10px;
         padding-bottom: 30px;

     }

     .receipt-hadding {
         margin-top: 30px;
         margin-bottom: 30px;
         font-size: 2.9em;
         margin-left: 1000px;
     }

     .content .receipt-data {
         font-size: 2.5rem;
         margin-top: 10px;
         margin-left: 40px;
         margin-bottom: 40px;
         margin-right: 60px;
     }

     #printFeeReceiptCheckbox,
     #checkApplicationStatusCheckbox {
         width: 35px;
         height: 35px;
     }

     .input-checkbox {
         margin-top: 30px;
     }

     /*Rooms Overview */
     #menu {
         margin-bottom: 30px;
     }

     #menu button {
         margin: 7px;
         padding: 15px 30px;
         font-size: 40px;
     }

     #filters {
         font-size: 30px;
         margin-top: 15px;
     }

     #filters select {
        height: 65px;
         margin: 5px;
         padding: 5px;
         font-size: 20px;
     }

     .room {
         width: 70px;
         height: 70px;
         margin: 5px;
         font-size: 25px;
         border-radius: 5px;
     }

     /* Help Search box */
     #helpBox {
         border: 2px solid #ccc;
         padding: 22px;
     }

     #searchInput {
         height: 60px;
         margin-left: 40px;
         width: 80%;
     }

     #helpTopics li {
         margin-left: 40px;
         padding: 8px;
         font-size: 2.3rem;
     }

     #topicDetail {
         margin-top: 30px;
     }


     /*footer for contact us*/
     /*Styles for the footer*/
     footer {
         padding: 27px 0;
     }

     .footer-container {
         max-width: 100%;
         margin: 0 auto;
         padding: 0 30px;
     }

     .contact-info,
     .social-links {
         height: 189px;
         flex: 1;
     }

     .contact-info h3,
     .social-links h3 {
         margin-bottom: 15px;
         font-size: 2.5rem;
     }

     .contact-info ul,
     .social-links ul {
         padding-left: 0;
     }

     .contact-info ul li,
     .social-links ul li {
         font-size: 2.3rem;
         margin-bottom: 8px;
     }

     .social-links ul li {
         margin-right: 15px;
     }

     .social-links img {
         width: 70px;
         height: 70px;
     }

     .twitter {
         width: 65;
         height: 60px;
     }
 } 

@media (max-height: 1080px) and (max-width: 1920px) {
     nav {
         height: 70px;
     }

     /*Container for navigation content*/
     .nav-container {
         max-width: 100%;
     }

     /* Logo styles*/
     .logo-img {
         height: 65px;
         padding-left: 20px;
         width: auto;
     }

     /*Navigation links styles*/
     .nav-links {
        padding-left: 95px;
         padding-top: 15px;
         width: 1600px;
     }

     .nav-links li,
     .popup-button {
         margin-left: 32px;
     }

     .nav-links a {
         font-size: 2.4rem;
     }

     /* Hover effect for navigation links*/
     .nav-links a:hover {
         border-radius: 8px;
     }

     .popup-menu {
         box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     }

     /* popup menu style  */
     .popup-menu a {
         padding: 12px 16px;
     }

     .form-group {
         margin-bottom: 16px;
     }

     .form-section form p {
         margin-left: 10px;
     }

     /* other form conteent hidden */
     .content {
         display: none;
     }

     /* Section styles*/
     section {
         padding: 0px 0px 20px;
         /* Adjusted padding to account for fixed navbar */
     }

     /* Box styles for each section*/
     .box {
         border-radius: 10px;
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
         margin-bottom: 20px;
     }

     .box:hover {
         transform: translateY(-10px);
         box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
     }

     /*Section title styles*/
     .section-title {
         margin-top: 8px;
         margin-bottom: 8px;
         font-size: 3em;
         text-shadow: 12px 6px 6px rgba(21, 6, 29, 0.3);
     }

     /* Notice bar in home page */
     .notice-bar {
         font-size: 2.2rem;
         padding-bottom: 8px;
     }

     /* home page slider */
     .slide {
         height: 900px;
     }

     .slide img {
         width: 100%;
         height: 890px;
     }

     .form-section {
         margin-top: 20px;
     }

     .hidden {
         display: none;
     }

     h2 {
         font-size: 2.2rem;
         padding: 10px;
         margin-left: 35px;
         margin-bottom: 20px;
         border-bottom: 3px solid #007BFF;

     }

     .input-data {
         margin-left: 30px;
         margin-right: 30px;
         margin-bottom: 15px;
     }

     /* Paragraph and list styles*/
     p,
     ul {
         margin-bottom: 20px;
     }

     p {
         font-size: 2rem;
     }

     h1 {
         font-size: 2.4rem;
     }

     ul {
         list-style-type: none;
         padding-left: 0;
     }

     label {
         font-size: 2.3rem;
         margin-bottom: 20px;
     }

     input,
     select {
         margin-bottom: 20px;
         border: 3px solid #ddd;
         border-radius: 7px;
         font-size: 2.3rem;
         transition: border-color 0.3s;
     }

     .note p {
         font-size: 2.3rem;
     }

     .submit {
         font-size: 30px;
         margin-left: 890.4px;
         padding: 5px;
         width: 140px;
         height: 55px;
         border-radius: 6px;
     }

     .receipt-label {
         font-size: 2.3rem;
         margin-left: 30px;
         margin-top: 30px;
         margin-bottom: 10px;
         padding-bottom: 20px;

     }

     .receipt-hadding {
         margin-top: 30px;
         margin-bottom: 30px;
         font-size: 2.5em;
         margin-left: 800px;
     }

     .content .receipt-data {
         font-size: 2.3rem;
         margin-top: 10px;
         margin-left: 30px;
         margin-bottom: 30px;
         margin-right: 60px;
     }

     #printFeeReceiptCheckbox,
     #checkApplicationStatusCheckbox {
         width: 35px;
         height: 35px;
     }

     .input-checkbox {
         margin-top: 20px;
     }

     /*Rooms Overview */
     #menu {
         margin-bottom: 20px;
     }

     #menu button {
         margin: 7px;
         padding: 10px 20px;
         font-size: 35px;
     }

     #filters {
         font-size: 35px;
         margin-top: 15px;
     }

     #filters select {
         height: 50px;
         margin: 5px;
         padding: 5px;
         font-size: 16px;
     }

     .room {
         width: 65px;
         height: 65px;
         margin: 5px;
         font-size: 20px;
         border-radius: 3px;
     }

     /* Help Search box */
     #helpBox {
         border: 2px solid #ccc;
         padding: 18px;
     }

     #searchInput {
         height: 55px;
         margin-left: 30px;
         width: 80%;
     }

     #helpTopics li {
         margin-left: 30px;
         padding: 8px;
         font-size: 2rem;
     }

     #topicDetail {
         margin-top: 30px;
     }


     /*footer for contact us*/
     /*Styles for the footer*/
     footer {
         padding: 27px 0;
     }

     .footer-container {
         max-width: 100%;
         margin: 0 auto;
         padding: 0 30px;
     }

     .contact-info,
     .social-links {
         height: 189px;
         flex: 1;
     }

     .contact-info h3,
     .social-links h3 {
         margin-bottom: 15px;
         font-size: 2.3rem;
     }

     .contact-info ul,
     .social-links ul {
         padding-left: 0;
     }

     .contact-info ul li,
     .social-links ul li {
         font-size: 2.1rem;
         margin-bottom: 8px;
     }

     .social-links ul li {
         margin-right: 15px;
     }

     .social-links img {
         width: 60px;
         height: 60px;
     }

     .twitter {
         width: 55;
         height: 50px;
     }
 }

 @media (max-height: 768px) and (max-width: 1366px) {
    nav {
    height: 60px;
}

/*Container for navigation content*/
.nav-container {
    max-width: 100%;
}

/* Logo styles*/
.logo-img {
    height: 45px;
    padding-left: 20px;
    width: auto;
}

/*Navigation links styles*/
.nav-links {
   padding-left: 0;
    padding-top: 10px;
    width: 1060px;
}

.nav-links li,
.popup-button {
    margin-left: 20px;
}

.nav-links a {
    font-size: 1.6rem;
}

/* Hover effect for navigation links*/
.nav-links a:hover {
    border-radius: 8px;
}

.popup-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* popup menu style  */
.popup-menu a {
    padding: 12px 16px;
}

.form-group {
    margin-bottom: 16px;
}

.form-section form p {
    margin-left: 10px;
}

/* other form conteent hidden */
.content {
    display: none;
}

/* Section styles*/
section {
    padding: 0px 0px 20px;
    /* Adjusted padding to account for fixed navbar */
}

/* Box styles for each section*/
.box {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*Section title styles*/
.section-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2.5em;
    text-shadow: 12px 6px 6px rgba(21, 6, 29, 0.3);
}

/* Notice bar in home page */
.notice-bar {
    font-size: 2rem;
    padding-bottom: 8px;
}

/* home page slider */
.slide {
    height: 600px;
}

.slide img {
    width: 100%;
    height: 590px;
}

.form-section {
    margin-top: 20px;
}

.hidden {
    display: none;
}

h2 {
    font-size: 2rem;
    padding: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF;

}

.input-data {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/* Paragraph and list styles*/
p,
ul {
    margin-bottom: 20px;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

input,
select {
    margin-bottom: 20px;
    border: 3px solid #ddd;
    border-radius: 7px;
    font-size: 1.8rem;
    transition: border-color 0.3s;
}

.note p {
    font-size: 1.7rem;
}

.submit {
    font-size: 25px;
    margin-left: 603.4px;
    padding: 5px;
    width: 120px;
    height: 55px;
    border-radius: 5px;
}

.receipt-label {
    font-size: 2rem;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;

}

.receipt-hadding {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2.2em;
    margin-left: 550px;
}

.content .receipt-data {
    font-size: 1.8rem;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}

#printFeeReceiptCheckbox,
#checkApplicationStatusCheckbox {
    width: 25px;
    height: 25px;
}

.input-checkbox {
    margin-top: 20px;
}

/*Rooms Overview */
#menu {
    margin-bottom: 20px;
}

#menu button {
    margin: 7px;
    padding: 10px 20px;
    font-size: 25px;
}

#filters {
    font-size: 25px;
    margin-top: 15px;
}

#filters select {
    height: 45px;
    margin: 5px;
    padding: 5px;
    font-size: 16px;
}

.room {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 20px;
    border-radius: 2px;
}

/* Help Search box */
#helpBox {
    border: 2px solid #ccc;
    padding: 16px;
}

#searchInput {
    height: 45px;
    margin-left: 30px;
    width: 80%;
}

#helpTopics li {
    margin-left: 30px;
    padding: 5px;
    font-size: 1.8rem;
}

#topicDetail {
    margin-top: 30px;
}


/*footer for contact us*/
/*Styles for the footer*/
footer {
    padding: 20px 0;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info,
.social-links {
    height: 189px;
    flex: 1;
}

.contact-info h3,
.social-links h3 {
    margin-bottom: 15px;
    font-size: 2.1rem;
}

.contact-info ul,
.social-links ul {
    padding-left: 0;
}

.contact-info ul li,
.social-links ul li {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.social-links ul li {
    margin-right: 10px;
}

.social-links img {
    width: 60px;
    height: 60px;
}

.twitter {
    width: 55;
    height: 50px;
}
    
 }


 @media (max-width: 1280px) and (max-height: 1024px) {
    nav {
        height: 75px;
    }

    /*Container for navigation content*/
    .nav-container {
        max-width: 100%;
    }

    /* Logo styles*/
    .logo-img {
        height: 70px;
        padding-left: 20px;
        width: auto;
    }

    /*Navigation links styles*/
    .nav-links {
       padding-left: 0;
        padding-top: 15px;
        width: 950px;
    }

    .nav-links li,
    .popup-button {
        margin-left: 8px;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    /* Hover effect for navigation links*/
    .nav-links a:hover {
        border-radius: 5px;
    }

    .popup-menu {
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    /* popup menu style  */
    .popup-menu a {
        padding: 12px 12px;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .form-section form p {
        margin-left: 10px;
    }

    /* other form conteent hidden */
    .content {
        display: none;
    }

    /* Section styles*/
    section {
        padding: 0px 0px 20px;
        /* Adjusted padding to account for fixed navbar */
    }

    /* Box styles for each section*/
    .box {
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .box:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    /*Section title styles*/
    .section-title {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 2.5em;
        text-shadow: 12px 6px 6px rgba(21, 6, 29, 0.3);
    }

    /* Notice bar in home page */
    .notice-bar {
        font-size: 2rem;
        padding-bottom: 8px;
    }

    /* home page slider */
    .slide {
        height: 660px;
    }

    .slide img {
        width: 100%;
        height: 650px;
    }

    .form-section {
        margin-top: 20px;
    }

    .hidden {
        display: none;
    }

    h2 {
        font-size: 2rem;
        padding: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #007BFF;

    }

    .input-data {
        margin-left: 20px;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    /* Paragraph and list styles*/
    p,
    ul {
        margin-bottom: 20px;
    }

    p {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 2rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    label {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    input,
    select {
        margin-bottom: 20px;
        border: 3px solid #ddd;
        border-radius: 7px;
        font-size: 1.6rem;
        transition: border-color 0.3s;
    }

    .note p {
        font-size: 1.5rem;
    }

    .submit {
        font-size: 20px;
        margin-left: 590.4px;
        padding: 5px;
        width: 100px;
        height: 35px;
        border-radius: 5px;
    }

    .receipt-label {
        font-size: 2rem;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        padding-bottom: 20px;

    }

    .receipt-hadding {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 2.2em;
        margin-left: 500px;
    }

    .content .receipt-data {
        font-size: 1.7rem;
        margin-top: 10px;
        margin-left: 30px;
        margin-bottom: 30px;
        margin-right: 40px;
    }

    #printFeeReceiptCheckbox,
    #checkApplicationStatusCheckbox {
        width: 25px;
        height: 25px;
    }

    .input-checkbox {
        margin-top: 20px;
    }

    /*Rooms Overview */
    #menu {
        margin-bottom: 20px;
    }

    #menu button {
        margin: 7px;
        padding: 10px 20px;
        font-size: 20px;
    }

    #filters {
        font-size: 20px;
        margin-top: 15px;
    }

    #filters select {
        height: 50px;
        margin: 20px;
        padding: 5;
        font-size: 14px;
    }

    .room {
        width: 65px;
        height: 65px;
        margin: 10px;
        font-size: 20px;
        border-radius: 3px;
    }

    /* Help Search box */
    #helpBox {
        border: 2px solid #ccc;
        padding: 18px;
    }

    #searchInput {
        height: 45px;
        margin-left: 30px;
        width: 80%;
    }

    #helpTopics li {
        margin-left: 30px;
        padding: 5px;
        font-size: 1.5rem;
    }

    #topicDetail {
        margin-top: 20px;
    }


    /*footer for contact us*/
    /*Styles for the footer*/
    footer {
        padding: 20px 0;
    }

    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    .contact-info,
    .social-links {
        height: 189px;
        flex: 1;
    }

    .contact-info h3,
    .social-links h3 {
        margin-bottom: 15px;
        font-size: 2rem;
    }

    .contact-info ul,
    .social-links ul {
        padding-left: 0;
    }

    .contact-info ul li,
    .social-links ul li {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }

    .social-links ul li {
        margin-right: 20px;
    }

    .social-links img {
        width: 60px;
        height: 60px;
    }

    .twitter {
        width: 55;
        height: 50px;
    }
 }

 @media (max-width: 1024px) and (max-height: 768px) {
    nav {
    height: 55px;
}

/*Container for navigation content*/
.nav-container {
    max-width: 100%;
}

/* Logo styles*/
.logo-img {
    height: 50px;
    padding-left: 20px;
    width: auto;
}

/*Navigation links styles*/
.nav-links {
    margin-bottom: 5;
   padding-left: 0;
    width: 825px;
}

.nav-links li,
.popup-button {
    margin-left: 0;
}

.nav-links a {
    font-size: 1.3rem;
}

/* Hover effect for navigation links*/
.nav-links a:hover {
    border-radius: 3px;
}

.popup-menu {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* popup menu style  */
.popup-menu a {
    padding: 5px 5px;
}

.form-group {
    margin-bottom: 16px;
}

.form-section form p {
    margin-left: 10px;
}

/* other form conteent hidden */
.content {
    display: none;
}

/* Section styles*/
section {
    padding: 0px 0px 20px;
    /* Adjusted padding to account for fixed navbar */
}

/* Box styles for each section*/
.box {
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/*Section title styles*/
.section-title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2em;
    text-shadow: 12px 6px 6px rgba(21, 6, 29, 0.3);
}

/* Notice bar in home page */
.notice-bar {
    font-size: 1.5rem;
    padding-bottom: 5px;
}

/* home page slider */
.slide {
    height: 510px;
}

.slide img {
    width: 100%;
    height: 500px;
}

.form-section {
    margin-top: 20px;
}

.hidden {
    display: none;
}

h2 {
    font-size: 1.8rem;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #007BFF;

}

.input-data {
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 15px;
}

/* Paragraph and list styles*/
p,
ul {
    margin-bottom: 20px;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

input,
select {
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 7px;
    font-size: 1.5rem;
    transition: border-color 0.3s;
}

.note p {
    font-size: 1.4rem;
}

.submit {
    font-size: 20px;
    margin-left: 467.4px;
    padding: 5px;
    width: 90px;
    height: 30px;
    border-radius: 3px;
}

.receipt-label {
    font-size: 1.8rem;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

.receipt-hadding {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.9em;
    margin-left: 500px;
}

.content .receipt-data {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#printFeeReceiptCheckbox,
#checkApplicationStatusCheckbox {
    width: 20px;
    height: 20px;
}

.input-checkbox {
    margin-top: 10px;
}

/*Rooms Overview */
#menu {
    margin-bottom: 10px;
}

#menu button {
    margin: 7px;
    padding: 10px 20px;
    font-size: 20px;
}

#filters {
    font-size: 20px;
    margin-top: 15px;
}

#filters select {
    height: 50px;
    margin: 20px;
    padding: 5;
    font-size: 14px;
}

.room {
    width: 65px;
    height: 65px;
    margin: 10px;
    font-size: 20px;
    border-radius: 3px;
}

/* Help Search box */
#helpBox {
    border: 2px solid #ccc;
    padding: 18px;
}

#searchInput {
    height: 35px;
    margin-left: 30px;
    width: 80%;
}

#helpTopics li {
    margin-left: 20px;
    padding: 2px;
    font-size: 1.4rem;
}

#topicDetail {
    margin-top: 10px;
}


/*footer for contact us*/
/*Styles for the footer*/
footer {
    padding: 20px 0;
}

.footer-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-info,
.social-links {
    height: 180px;
    flex: 1;
}

.contact-info h3,
.social-links h3 {
    margin-bottom: 15px;
    font-size: 2rem;
}

.contact-info ul,
.social-links ul {
    padding-left: 0;
}

.contact-info ul li,
.social-links ul li {
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.social-links ul li {
    margin-right: 20px;
}

.social-links img {
    width: 60px;
    height: 60px;
}

.twitter {
    width: 55;
    height: 50px;
}

 }

@media (max-width: 375px) and (max-height: 667px) {
    nav {
        height: 25px;
    }
    
    /*Container for navigation content*/
    .nav-container {
        max-width: 100%;
    }
    
    /* Logo styles*/
    .logo-img {
        height: 20px;
        padding-left: 2px;
        width: auto;
    }
    
    /*Navigation links styles*/
    .nav-links {
        margin-left: 20px;
        margin-bottom:3px;;
        padding: 0;
        width: 300px;
    }
    
    .nav-links li,
    .popup-button {
        margin-right: 5px;
        margin-left: 0;
    }
    
    .nav-links a {
        padding: 0;
        font-size: 0.6rem;
    }
    
    /* Hover effect for navigation links*/
    .nav-links a:hover {
        border-radius: 1px;
    }
    
    .popup-menu {
        box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.2);
    }
    
    /* popup menu style  */
    .popup-menu a {
        padding: 2px 2px;
    }
    
    .form-group {
        margin-bottom: 9px;
    }
    
    .form-section form p {
        margin-left: 4px;
    }
    
    /* other form conteent hidden */
    .content {
        display: none;
    }
    
    /* Section styles*/
    section {
        padding: 0px 0px 20px;
        /* Adjusted padding to account for fixed navbar */
    }
    
    /* Box styles for each section*/
    .box {
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    
    .box:hover {
        transform: translateY(-10px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    /*Section title styles*/
    .section-title {
        margin-top: 3px;
        margin-bottom: 3px;
        font-size: 1em;
        text-shadow: 8px 3px 3px rgba(21, 6, 29, 0.3);
    }
    
    /* Notice bar in home page */
    .notice-bar {
        font-size: 0.9rem;
        padding-bottom: 5px;
    }
    
    /* home page slider */
    .slide {
        height: 220px;
    }
    
    .slide img {
        width: 100%;
        height: 210px;
    }
    
    .form-section {
        margin-top: 10px;
    }
    
    .hidden {
        display: none;
    }
    
    h2 {
        font-size: 0.8rem;
        padding: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #007BFF;
    
    }
    
    .input-data {
        height: 17px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 2px;
    }
    
    /* Paragraph and list styles*/
    p,
    ul {
        margin-bottom: 7px;
    }
    
    p {
        font-size: 0.6rem;
    }
    
    h1 {
        font-size: 0.9rem;
    }
    
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    
    label {
        font-size: 0.7rem;
        margin-bottom: 5px;
    }
    
    input,
    select {
        margin-bottom: 5px;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 0.7rem;
        transition: border-color 0.3s;
    }
    
    .note p {
        font-size: 0.6rem;
    }
    
    .submit {
        font-size: 7px;
        margin-left: 170.4px;
        padding: 1px;
        width: 35px;
        height: 10px;
        border-radius: 2px;
    }
    
    .receipt-label {
        font-size: 0.9rem;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-bottom: 5px;
    
    }
    
    .receipt-hadding {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1em;
        margin-left: 100px;
    }
    
    .content .receipt-data {
        height: 17px;
        font-size: 0.8rem;
        margin-top: 5px;
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
    #printFeeReceiptCheckbox,
    #checkApplicationStatusCheckbox {
        width: 10px;
        height: 10px;
    }
    
    .input-checkbox {
        margin-top: 5px;
    }
    
    /*Rooms Overview */
    #menu {
        margin-bottom: 5px;
    }
    
    #menu button {
        margin: 2px;
        padding: 4px 8px;
        font-size: 12px;
    }
    
    #filters {
        font-size: 12px;
        margin-top: 8px;
    }
    
    #filters select {
        height: 25px;
        margin: 20px;
        padding: 2px;
        font-size: 12px;
    }
    
    .room {
        width: 40px;
        height: 40px;
        margin: 5px;
        font-size: 12px;
        border-radius: 3px;
    }
    
    /* Help Search box */
    #helpBox {
        border: 1px solid #ccc;
        padding: 9px;
    }
    
    #searchInput {
        height: 20px;
        margin-left: 20px;
        width: 80%;
    }
    
    #helpTopics li {
        margin-left: 15px;
        padding: 1px;
        font-size: 0.8rem;
    }
    
    #topicDetail {
        margin-top: 15px;
    }
    
    
    /*footer for contact us*/
    /*Styles for the footer*/
    footer {
        padding: 10px 0;
    }
    
    .footer-container {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .contact-info,
    .social-links {
        height: 100px;
        flex: 1;
    }
    
    .contact-info h3,
    .social-links h3 {
        margin-bottom: 3px;
        font-size: 0.9rem;
    }
    
    .contact-info ul,
    .social-links ul {
        padding-left: 0;
    }
    
    .contact-info ul li,
    .social-links ul li {
        font-size: 0.5rem;
        margin-bottom: 3px;
    }
    
    .social-links ul li {
        margin-right: 5px;
    }
    
    .social-links img {
        width: 30px;
        height: 30px;
    }
    
    .twitter {
        width: 35;
        height: 30px;
    }
}



/*@media (max-height:736px) {}

     @media (max-height:800px) {}

     @media (max-height:844px) {}

     @media (max-height:1024px) {}

     @media(max-width:1024px) {}

     @media(max-height:962) {}

     */